@charset "utf-8";

.title{
    border-bottom: double;
    padding: 0.5rem;
}

.desc{
    text-align: center;
    border:solid;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.post_frame{
    margin:1rem;
    border:solid;
}

.post_frame a{
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}

.post_frame a:hover{
    opacity: 0.1;
    background-color: #000000;
}

.post_title{
    border-bottom: solid;
    padding: 0.5rem;
}

.post_body{
    padding: 0.5rem;
}

.create_btn{
    margin-right: 0;
    background-color: red;
}

.pagenate{
    display: flex;
    justify-content: center;
    }